/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}
.book-now-button{
    background: #FFFFFF;
    color:#3F87F5;
    border-radius: 5px;
    width: 168px;
    height: 44px;
}
.book-now-button a{
    text-decoration: none;
}
.service-border{
border-radius: 26px;
}
.badeg-btn {
    position: absolute;
    margin-left:-30px;
    margin-top:-5px;
}
 .upper{
    margin-top: -12px;
}

.pacakage {
    padding-bottom: 50px;
}
